.home {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home img {
  width: 100%;
}

.home h1 {
  color: #e6e3fd;
  font-size: 40px;
  font-weight: 400;
  width: 12em;

  left: 2.5em;
  top: 4.5em;

  margin: 0;
  padding: 0;

  position: absolute;
  z-index: 10;
}

.home span {
  font-size: 45px;
  font-weight: 700;
}

.home p {
  font-size: 18px;
  font-weight: 200;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  padding: 4em 0;

  background: #e6e3fd;
}

.servicos h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #1b0021;
  margin: 0;
}

.servicos h3{
    font-size: 20px;
    font-weight: 500;
    color: #1b0021;
}

.services {
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: center;
}

.produtos{
    display: flex;
    flex-direction: row;
    background: #e6e3fd;

    padding: 2em 0;
}

.texto{
    width: 25%;
    margin: 0 6em;
}

.texto p{
    font-size: 18px;
    font-weight: 400;
    color: #1b0021;
}

.animais{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.animais img{
    margin: 1em;
}