.home {
  display: flex;
  flex-direction: column;
}

.home img {
  width: 100vw;
}

.home h1 {
  color: #e6e3fd;
  font-size: 40px;
  font-weight: 400;
  width: 12em;

  left: 2.5em;
  top: 4.5em;

  margin: 0;
  padding: 0;
}

.home span {
  font-size: 45px;
  font-weight: 700;
}

.home p {
  font-size: 18px;
  font-weight: 200;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100vw;
  padding: 3em 0;

  background: #e6e3fd;
}

.servicos h1 {
  font-size: 50px;
  font-weight: bolder;
  color: #1b0021;
  margin: 0;
}

.servicos h3{
    font-size: 20px;
    font-weight: 500;
    margin: 1em 0;
    color: #1b0021;
}

.services {
  display: flex;
  flex-direction: row;

  width: 100vw;
  justify-content: center;
}