.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  z-index: 1;
}

.logo{
  height: fit-content;
  width: fit-content;
  margin: 0 6em;
}

.logo h1{
  color: #1b0021;
  font-weight: bolder;
  font-size: 45px;

}

.navBar{
  display: flex;
  flex-direction: row;
  margin: 0 3em;
}

.navBar a{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b0021;

  width: fit-content;
  height: fit-content;

  margin: 0 1em;
  transition: all ease;
}

.navBar a:focus{
  border-bottom: 3px solid #1b0021;
}

.end{
  display: flex;
  flex-direction: row;

  margin: 0 5.5em;
}

.search{
  height: fit-content;

  margin: 0 1em;
}

.search{
  display: flex;
  height: 3em;
  align-items: center;
}

.search img{
  height: 1.75em;
}

.end button{
  background: #1b0021;
  color: #e6e3fd;
  height: 3em;
  align-content: center;

  margin: 0 0.5em;
  transition: all 0.5s ease;
}

.end button:hover{
  border: 1px solid #1b0021;
  background: none;
  color: #1b0021;
}